<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCatsDay1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1> <%= current_user.nil? ? "" : current_user.user_name %> </h1>

    <form action=" <%= new_session_url %>" >
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <% unless current_user.nil? %>
        <input type="hidden" name="" value="delete">
      <% end %>
      <input type="submit" name="" value=" <%= current_user.nil? ? "Log In" : "Log Out" %>">
    </form>

  </header>
<%= yield %>

</body>
</html>
